body {
    background-color: #bcc3d8;
    margin: 5%
}

h1 {
    font-family: 'Courier New', monospace;
    color: black;
    text-align: left;
    font-size: 30px;
}

h2 {
    font-family: 'Courier New', monospace;
    color: black;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

h5 {
    font-family: 'Courier New', monospace;
    color: black;
    font-size: x-large
}

h3 {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
}

p {
    font-family: 'Courier New', monospace;
    color: black;
    align-self: center;
    align-content: center;
}

.row {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

li {
    color: black;
    font-family: 'Courier New', monospace;
    text-align: left;
}

a {
    font-size: large;
    font-family: 'Courier New', monospace;
    color:black;
}

.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
    color: lightgray
}

.fa-twitter {
    color: #bcc3d8;
}

.fa-reddit {
    color: #bcc3d8;
}

.link-icon {
    font-size: 30pt;
    margin-left: 10px;
    vertical-align: middle;
}

.navbar {
    text-align: left;
}

@media only screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-item .nav-link {
        padding: 0 0.5em;
    }

    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
        border-right: 2px solid;
    }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #dbf436;
    color: black;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1;
}

.body-card-header {
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 5px 5px #bcc3d8;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.placeholder-text {
    font-family:"Courier New",monospace; 
    color: black;
    font-weight: bold;
    text-decoration: underline; 
    text-underline-offset: 2px;
    cursor:pointer;
    font-size: medium;
}

.modal-body {
    font-family:"Courier New",monospace; 
    color: darkgray;
    cursor:pointer;
    font-size: medium;
}

#back-to-top {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: black; 
    color: white;
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px; 
}

#back-to-top:hover {
    background-color: #dbf436;
    color:black
}